In [1]:
# This code imports python libraries.

# import numpy for use of arrays\n",
import numpy as np
# import pandas to use DataFrames
import pandas as pd
# import seaborn for ploting
import seaborn as sns
# import matplotlib pyplot for ploting
import matplotlib.pyplot as plt

In [2]:
# Code to creates data points for each season in the year

# Assuming that number of data points for each season is 90 [Approx 90 days for 3 months]
dp_season = 90

# Create list with same amount of data points for each season. Code adpted from
# https://stackoverflow.com/questions/3459098/create-list-of-single-item-repeated-n-times/3459140#3459140
ds_seasons = ["winter"]*dp_season + ["spring"]*dp_season + ["summer"]*dp_season + ["autumn"]*dp_season

# Create dataframe 'park' for storing dataset. Code adapted from
# https://www.geeksforgeeks.org/create-a-pandas-dataframe-from-lists/
df_Walking_Club = pd.DataFrame(ds_seasons, columns =['ds_seasons'])

# Print Title
print('\nFirst 5 lines of dataset "Walking_Club"')
# Display first 5 lines of dataframe park
df_Walking_Club.head()

First 5 lines of dataset "Walking_Club"

  ds_seasons
0     winter
1     winter
2     winter
3     winter
4     winter

In [3]:
ls_weather = ['dry', 'rain', 'wet']

# Print Title
print('\nList of possible weather types')
# Display list of rainy weather types
ls_weather

List of possible weather types

['dry', 'rain', 'wet']

In [4]:
# Creates dataframe matrix of average monthly weather data

# Average weather data for Monaghan, Ireland. 
# Rainfall and weather data for Monaghan adapted from
# https://data.gov.ie/dataset/monaghan-knockroe-rainfall-data &
# https://en.climate-data.org/europe/ireland/monaghan/monaghan-11695/

rain_days_month = [26, 17, 20, 21, 13, 9, 11, 24, 17, 17, 21, 20]
wet_days_month = [22, 14, 13, 14, 10, 6, 7, 18, 12, 9, 17, 17]
days_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
mm_rain_month = [201.4, 80.5, 62.6, 61.7, 46, 80.6, 49.1, 92.6, 44.8, 30.7, 124.8, 103]
min_temp = [1.2, 1.2, 2.3, 3.6, 6.2, 8.9, 10.6, 10.2, 8.7, 6.6, 3.1, 2.1]
max_temp = [6.6, 7 ,9.1, 11.6, 14.5, 17.3, 18.5, 18.2, 16.1, 13, 9, 7.4]

# Create dataframe with rain data. Code adapted from
# https://www.geeksforgeeks.org/create-a-pandas-dataframe-from-lists/
df_Average_monthly_weather = pd.DataFrame(list(zip(rain_days_month, wet_days_month, days_month, mm_rain_month, min_temp, max_temp)), 
                    index =['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
                           'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                   columns=['rain_days_month', 'wet_days_month', 'days_month', 'mm_rain_month', 'min_temp', 'max_temp'])

# Calculate proportion of rain fall and wet days in a month
df_Average_monthly_weather['rain_month_proportion'] = df_Average_monthly_weather.apply(lambda row: np.round(row.rain_days_month/row.days_month,3), axis=1)
df_Average_monthly_weather['wet_month_proportion'] = df_Average_monthly_weather.apply(lambda row: np.round(row.wet_days_month/row.days_month,3), axis=1)

# Print data from dataframe
print('\nMonthly average weather data for Monaghan Town')
df_Average_monthly_weather

Monthly average weather data for Monaghan Town

,rain_days_month,wet_days_month,days_month,mm_rain_month,min_temp,max_temp,rain_month_proportion,wet_month_proportion
Jan,26,22,31,201.4,1.2,6.6,0.839,0.710
Feb,17,14,28,80.5,1.2,7.0,0.607,0.500
Mar,20,13,31,62.6,2.3,9.1,0.645,0.419
Apr,21,14,30,61.7,3.6,11.6,0.700,0.467
May,13,10,31,46.0,6.2,14.5,0.419,0.323
Jun,9,6,30,80.6,8.9,17.3,0.300,0.200
Jul,11,7,31,49.1,10.6,18.5,0.355,0.226
Aug,24,18,31,92.6,10.2,18.2,0.774,0.581
Sep,17,12,30,44.8,8.7,16.1,0.567,0.400
Oct,17,9,31,30.7,6.6,13.0,0.548,0.290
Nov,21,17,30,124.8,3.1,9.0,0.700,0.567
Dec,20,17,31,103.0,2.1,7.4,0.645,0.548

In [5]:
# Find weather types using the list values for weather 
# for each data point in dataframe 'df_Walking_Club'

# Set list of months in each season
winter = ['Nov', 'Dec', 'Jan']
spring = ['Feb', 'Mar', 'Apr']
summer = ['May', 'Jun', 'Jul']
autumn = ['Aug', 'Sep', 'Oct']

# Function to predict month from a list of months in a given season
def Find_Month(a):
    # Documentation string
    """Returns a random choice of month within a given season"""
    
    # Check for winter season
    if a == 'winter':
        # Set season to winter list
        season = winter
    
    # Check for spring season    
    elif a == 'spring':
        # Set season to spring list
        season = spring
    
    # Check for summer season
    elif a == 'summer':
        # Set season to summer list
        season = summer
    
    # Otherwise season is autumn
    else:
        # Set season to autumn list
        season = autumn          
    
    # Return a month choosen randomly with uniform distribution within a given season list
    return np.random.choice(a=season)

# Apply the function 'Find_Month' to each row in dataframe 'df_Walking_Club'
df_Walking_Club["month"] = df_Walking_Club.apply(lambda row: Find_Month(row.ds_seasons), axis=1)


# Function to predict weather based on month
def weather_type(Month):
    # Documentation string
    """Returns a choice of either 'dry' or 'rain' based on 
            mean number of day with rain in a given month"""
    
    # Select proportion of days with rain in a given month in
    # DataFrame 'rain_mon' based on column and row index. Code adapted from 
    # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html
    weather = df_Average_monthly_weather.rain_month_proportion.loc[str(Month)]
    
    # Return a weather type based on amount of rain in month
    return np.random.choice(a=['dry',  'rain'], p=[(1-weather), weather])

# Apply the function 'df_Walking_Club' to each row in dataframe 'park'
df_Walking_Club["weather"] = df_Walking_Club.apply(lambda row: weather_type(row.month), axis=1)


# Function to predict weather based on month
def day_type(Month):
    # Documentation string
    """Returns a choice of either 'dry' or 'rain' based on 
            mean number of day with rain in a given month"""
    
    # Select proportion of days with rain in a given month in
    # DataFrame 'rain_mon' based on column and row index. Code adapted from 
    # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html
    Day = df_Average_monthly_weather.wet_month_proportion.loc[str(Month)]
    
    # Return a weather type based on amount of rain in month
    return np.random.choice(a=['dry',  'wet'], p=[(1-Day), Day])

# Apply the function 'df_Walking_Club' to each row in dataframe 'park'
df_Walking_Club["Day"] = df_Walking_Club.apply(lambda row: day_type(row.month), axis=1)



# Print Title
print('\nFirst 5 lines of dataset "df_Walking_Club"')
# Display first 5 lines of dataframe 'df_Walking_Club'
df_Walking_Club.head()

First 5 lines of dataset "df_Walking_Club"

  ds_seasons month weather  Day
0     winter   Nov    rain  dry
1     winter   Nov     dry  dry
2     winter   Nov    rain  wet
3     winter   Jan    rain  wet
4     winter   Jan    rain  wet

In [6]:
# Print Title
print('\nDaily summary of weather and months in dataset "df_Walking_Club"')
# Display daily summary of weather and months
# Code adapted from https://dfrieds.com/data-analysis/crosstabs-python-pandas
pd.crosstab(index=df_Walking_Club['Day'], columns=df_Walking_Club['month'], margins=True)

Daily summary of weather and months in dataset "df_Walking_Club"

month  Apr  Aug  Dec  Feb  Jan  Jul  Jun  Mar  May  Nov  Oct  Sep  All
Day
dry     20   12   19   18    3   24   24   21   20   11   24   19  215
wet      7   16   17   12   21    8    4   12   10   19    8   11  145
All     27   28   36   30   24   32   28   33   30   30   32   30  360

In [7]:
# Print Title
print('\nDaily summary of weather and months in dataset "df_Walking_Club"')
# Display daily summary of weather and months
# Code adapted from https://dfrieds.com/data-analysis/crosstabs-python-pandas
pd.crosstab(index=df_Walking_Club['weather'], columns=df_Walking_Club['month'], margins=True)

Daily summary of weather and months in dataset "df_Walking_Club"

month    Apr  Aug  Dec  Feb  Jan  Jul  Jun  Mar  May  Nov  Oct  Sep  All
weather
dry        6    7   17    9    1   20   19   12   19    6   14   10  140
rain      21   21   19   21   23   12    9   21   11   24   18   20  220
All       27   28   36   30   24   32   28   33   30   30   32   30  360

In [8]:
# Display df_Walking_Club 
# Code adapted from https://stackoverflow.com/a/39923958
print(df_Walking_Club.to_string())

    ds_seasons month weather  Day
0       winter   Nov    rain  dry
1       winter   Nov     dry  dry
2       winter   Nov    rain  wet
3       winter   Jan    rain  wet
4       winter   Jan    rain  wet
5       winter   Dec    rain  dry
6       winter   Dec     dry  dry
7       winter   Dec    rain  wet
8       winter   Nov    rain  wet
9       winter   Nov    rain  dry
10      winter   Jan    rain  wet
11      winter   Jan    rain  wet
12      winter   Nov    rain  dry
13      winter   Jan    rain  dry
14      winter   Jan    rain  wet
15      winter   Dec    rain  wet
16      winter   Nov    rain  wet
17      winter   Dec    rain  dry
18      winter   Jan    rain  wet
19      winter   Nov    rain  wet
20      winter   Dec    rain  wet
21      winter   Dec     dry  dry
22      winter   Nov    rain  wet
23      winter   Nov    rain  dry
24      winter   Nov    rain  wet
25      winter   Jan    rain  wet
26      winter   Jan    rain  wet
27      winter   Nov    rain  wet
28      winter   Dec    rain  dry
29      winter   Dec    rain  dry
30      winter   Jan    rain  wet
31      winter   Jan    rain  wet
32      winter   Dec     dry  wet
33      winter   Jan    rain  wet
34      winter   Dec    rain  dry
35      winter   Dec     dry  wet
36      winter   Dec     dry  dry
37      winter   Nov     dry  wet
38      winter   Nov    rain  wet
39      winter   Dec    rain  wet
40      winter   Dec    rain  dry
41      winter   Dec     dry  dry
42      winter   Nov    rain  dry
43      winter   Nov    rain  dry
44      winter   Dec     dry  wet
45      winter   Jan     dry  wet
46      winter   Nov     dry  wet
47      winter   Nov    rain  wet
48      winter   Jan    rain  wet
49      winter   Jan    rain  wet
50      winter   Dec     dry  wet
51      winter   Dec    rain  wet
52      winter   Dec     dry  dry
53      winter   Nov    rain  dry
54      winter   Dec    rain  wet
55      winter   Dec    rain  wet
56      winter   Dec    rain  wet
57      winter   Jan    rain  wet
58      winter   Jan    rain  dry
59      winter   Dec    rain  dry
60      winter   Dec    rain  dry
61      winter   Jan    rain  wet
62      winter   Jan    rain  wet
63      winter   Dec     dry  wet
64      winter   Dec    rain  dry
65      winter   Nov    rain  dry
66      winter   Nov     dry  wet
67      winter   Dec     dry  dry
68      winter   Nov    rain  wet
69      winter   Jan    rain  wet
70      winter   Jan    rain  wet
71      winter   Dec    rain  wet
72      winter   Nov    rain  dry
73      winter   Dec    rain  dry
74      winter   Dec     dry  dry
75      winter   Nov    rain  wet
76      winter   Nov     dry  wet
77      winter   Dec     dry  wet
78      winter   Nov    rain  wet
79      winter   Jan    rain  wet
80      winter   Nov    rain  wet
81      winter   Nov    rain  wet
82      winter   Jan    rain  dry
83      winter   Dec     dry  dry
84      winter   Jan    rain  wet
85      winter   Nov    rain  wet
86      winter   Dec     dry  dry
87      winter   Dec     dry  wet
88      winter   Dec     dry  wet
89      winter   Nov     dry  dry
90      spring   Apr    rain  dry
91      spring   Feb    rain  wet
92      spring   Feb    rain  wet
93      spring   Apr    rain  wet
94      spring   Feb     dry  dry
95      spring   Mar    rain  dry
96      spring   Apr    rain  dry
97      spring   Feb    rain  dry
98      spring   Feb    rain  wet
99      spring   Mar    rain  dry
100     spring   Mar     dry  wet
101     spring   Mar     dry  dry
102     spring   Mar    rain  wet
103     spring   Mar    rain  dry
104     spring   Feb     dry  dry
105     spring   Apr    rain  dry
106     spring   Feb    rain  dry
107     spring   Feb     dry  dry
108     spring   Feb    rain  dry
109     spring   Mar    rain  dry
110     spring   Feb    rain  wet
111     spring   Mar    rain  dry
112     spring   Apr     dry  wet
113     spring   Mar     dry  dry
114     spring   Mar    rain  dry
115     spring   Mar     dry  dry
116     spring   Apr    rain  wet
117     spring   Apr    rain  wet
118     spring   Mar    rain  dry
119     spring   Mar    rain  dry
120     spring   Apr    rain  dry
121     spring   Feb     dry  dry
122     spring   Mar     dry  wet
123     spring   Feb    rain  wet
124     spring   Mar     dry  wet
125     spring   Feb    rain  dry
126     spring   Mar    rain  dry
127     spring   Mar    rain  dry
128     spring   Apr    rain  wet
129     spring   Feb    rain  dry
130     spring   Apr    rain  dry
131     spring   Mar    rain  dry
132     spring   Mar    rain  dry
133     spring   Apr    rain  dry
134     spring   Apr    rain  dry
135     spring   Apr    rain  dry
136     spring   Mar    rain  dry
137     spring   Feb    rain  wet
138     spring   Feb    rain  dry
139     spring   Apr     dry  dry
140     spring   Feb    rain  dry
141     spring   Mar     dry  dry
142     spring   Feb    rain  dry
143     spring   Feb    rain  wet
144     spring   Apr    rain  dry
145     spring   Mar    rain  dry
146     spring   Apr     dry  dry
147     spring   Apr    rain  dry
148     spring   Feb     dry  wet
149     spring   Mar     dry  dry
150     spring   Apr    rain  dry
151     spring   Feb    rain  dry
152     spring   Feb     dry  dry
153     spring   Apr     dry  dry
154     spring   Apr    rain  dry
155     spring   Mar    rain  wet
156     spring   Feb    rain  wet
157     spring   Mar    rain  dry
158     spring   Mar    rain  wet
159     spring   Mar     dry  wet
160     spring   Apr     dry  wet
161     spring   Feb     dry  dry
162     spring   Feb    rain  dry
163     spring   Apr    rain  dry
164     spring   Apr    rain  dry
165     spring   Mar     dry  wet
166     spring   Feb    rain  wet
167     spring   Mar     dry  dry
168     spring   Feb    rain  dry
169     spring   Mar     dry  wet
170     spring   Apr    rain  wet
171     spring   Apr     dry  dry
172     spring   Feb     dry  dry
173     spring   Mar    rain  wet
174     spring   Feb     dry  wet
175     spring   Mar    rain  wet
176     spring   Mar    rain  wet
177     spring   Apr    rain  dry
178     spring   Apr    rain  dry
179     spring   Feb    rain  wet
180     summer   Jul     dry  dry
181     summer   May     dry  wet
182     summer   Jul     dry  dry
183     summer   May    rain  dry
184     summer   Jun    rain  dry
185     summer   Jul    rain  dry
186     summer   Jun     dry  wet
187     summer   May     dry  dry
188     summer   May     dry  dry
189     summer   May     dry  dry
190     summer   Jul     dry  wet
191     summer   Jul    rain  dry
192     summer   Jun     dry  dry
193     summer   May     dry  dry
194     summer   Jul    rain  dry
195     summer   May     dry  wet
196     summer   Jun     dry  dry
197     summer   Jun     dry  dry
198     summer   Jul    rain  dry
199     summer   Jul     dry  wet
200     summer   Jul    rain  dry
201     summer   Jul    rain  dry
202     summer   May    rain  wet
203     summer   May     dry  wet
204     summer   Jul    rain  dry
205     summer   Jul    rain  wet
206     summer   May     dry  wet
207     summer   May     dry  dry
208     summer   May     dry  dry
209     summer   Jul     dry  dry
210     summer   Jul     dry  dry
211     summer   May    rain  dry
212     summer   Jul    rain  wet
213     summer   Jul     dry  dry
214     summer   May    rain  wet
215     summer   Jun     dry  dry
216     summer   Jun    rain  dry
217     summer   May    rain  dry
218     summer   May     dry  dry
219     summer   Jun     dry  dry
220     summer   Jun    rain  dry
221     summer   Jul    rain  dry
222     summer   Jul     dry  dry
223     summer   Jun     dry  wet
224     summer   Jul     dry  dry
225     summer   Jun     dry  wet
226     summer   May     dry  wet
227     summer   Jun     dry  dry
228     summer   Jun     dry  dry
229     summer   Jun     dry  dry
230     summer   May    rain  dry
231     summer   May     dry  dry
232     summer   Jul     dry  wet
233     summer   May    rain  dry
234     summer   Jul     dry  dry
235     summer   Jun     dry  dry
236     summer   Jun    rain  dry
237     summer   Jun     dry  dry
238     summer   Jul     dry  dry
239     summer   Jul     dry  dry
240     summer   Jun     dry  dry
241     summer   Jul     dry  wet
242     summer   Jul     dry  wet
243     summer   Jun    rain  dry
244     summer   Jun     dry  dry
245     summer   May     dry  dry
246     summer   May    rain  wet
247     summer   May     dry  dry
248     summer   Jul    rain  dry
249     summer   May    rain  dry
250     summer   May     dry  dry
251     summer   Jun    rain  dry
252     summer   Jun    rain  wet
253     summer   Jun     dry  dry
254     summer   Jun    rain  dry
255     summer   Jun     dry  dry
256     summer   Jul     dry  dry
257     summer   May     dry  dry
258     summer   May     dry  wet
259     summer   Jun     dry  dry
260     summer   May    rain  dry
261     summer   Jul     dry  dry
262     summer   Jul     dry  dry
263     summer   Jul     dry  wet
264     summer   May    rain  dry
265     summer   May     dry  wet
266     summer   Jul    rain  dry
267     summer   Jun     dry  dry
268     summer   Jul     dry  dry
269     summer   Jun    rain  dry
270     autumn   Sep    rain  dry
271     autumn   Aug    rain  dry
272     autumn   Sep     dry  dry
273     autumn   Sep    rain  dry
274     autumn   Oct    rain  dry
275     autumn   Oct     dry  dry
276     autumn   Oct    rain  dry
277     autumn   Sep    rain  dry
278     autumn   Aug    rain  dry
279     autumn   Aug    rain  wet
280     autumn   Aug     dry  wet
281     autumn   Oct     dry  dry
282     autumn   Oct    rain  dry
283     autumn   Oct    rain  dry
284     autumn   Aug    rain  wet
285     autumn   Oct    rain  dry
286     autumn   Sep     dry  wet
287     autumn   Aug     dry  wet
288     autumn   Sep     dry  dry
289     autumn   Aug    rain  dry
290     autumn   Oct     dry  wet
291     autumn   Sep    rain  dry
292     autumn   Oct    rain  dry
293     autumn   Sep    rain  wet
294     autumn   Aug    rain  dry
295     autumn   Aug    rain  wet
296     autumn   Oct    rain  dry
297     autumn   Sep     dry  dry
298     autumn   Sep    rain  wet
299     autumn   Oct     dry  dry
300     autumn   Sep     dry  wet
301     autumn   Sep    rain  wet
302     autumn   Sep    rain  dry
303     autumn   Aug    rain  dry
304     autumn   Aug    rain  wet
305     autumn   Aug    rain  wet
306     autumn   Sep     dry  dry
307     autumn   Sep    rain  dry
308     autumn   Aug    rain  dry
309     autumn   Sep    rain  wet
310     autumn   Oct    rain  wet
311     autumn   Sep    rain  wet
312     autumn   Sep    rain  dry
313     autumn   Oct     dry  dry
314     autumn   Oct    rain  dry
315     autumn   Oct     dry  dry
316     autumn   Sep     dry  dry
317     autumn   Oct     dry  wet
318     autumn   Aug    rain  dry
319     autumn   Sep    rain  wet
320     autumn   Oct     dry  wet
321     autumn   Sep     dry  dry
322     autumn   Oct    rain  dry
323     autumn   Oct    rain  dry
324     autumn   Oct     dry  dry
325     autumn   Oct    rain  dry
326     autumn   Oct    rain  dry
327     autumn   Sep    rain  dry
328     autumn   Aug    rain  dry
329     autumn   Oct     dry  dry
330     autumn   Sep    rain  dry
331     autumn   Aug    rain  dry
332     autumn   Sep    rain  wet
333     autumn   Oct     dry  dry
334     autumn   Aug    rain  wet
335     autumn   Sep    rain  wet
336     autumn   Aug    rain  wet
337     autumn   Oct    rain  wet
338     autumn   Oct     dry  dry
339     autumn   Oct    rain  dry
340     autumn   Oct     dry  wet
341     autumn   Sep    rain  dry
342     autumn   Aug    rain  wet
343     autumn   Aug     dry  wet
344     autumn   Sep    rain  dry
345     autumn   Oct    rain  wet
346     autumn   Sep     dry  wet
347     autumn   Oct    rain  dry
348     autumn   Aug     dry  wet
349     autumn   Aug     dry  wet
350     autumn   Aug     dry  wet
351     autumn   Aug     dry  wet
352     autumn   Oct     dry  wet
353     autumn   Oct    rain  dry
354     autumn   Sep    rain  dry
355     autumn   Sep     dry  dry
356     autumn   Aug    rain  dry
357     autumn   Aug    rain  dry
358     autumn   Aug    rain  dry
359     autumn   Aug    rain  wet