# Programming-for-DataAnalysis

## Practical Assignment for Semester 2 - 2019¶

### Student Name : Sasikala Varatharajan

### Student Number : G00376470

### About Project 

For this project a data set must be created by simulating a real-world phenomenon. As I am interested in walking with my family I would like to investigate the factors that could affect the exercise or walking timing of a normal person.  
It was suggested to use the numpy.random package for this purpose and Python programming for modeling and synthesise the data. 

This project includes:

• Real-world phenomenon that can be measured and for which could collect at least one-hundred data points across at least four different variables.

• Investigation of the types of variables involved, their likely distributions, and their relationships with each other.

• Simulation of a data set as closely matching their properties as possible.

• Description of the research and implemention of the simulation in a Jupyter notebook – the data set itself can simply be displayed in an output cell within the notebook.

### About the Dataset

Dataset Name: Walking club

Since walking is one of the common exercise people at different age will go for walk for certain limit of time in a week. We can actually measure it using the people's age, sex, working and non-working, morning or evening, etc. This could also affect by weather condition as we are living in Ireland we can expect rain at any time. We also have very short day time during winter time and this could also affect the walking timing. 

But in order to make it simple I would like to findout how rainfall and weather condition affects the number of walking people in a small town. For this model I am using the data for Monaghan town and I am using the real world data for rainfall and temparature. For other data like no.of people walking during weekdays and weekends I am using my assemption to generate the data.

#### Variables:

Season : Four different Seasons in Ireland is playing a big role in walking outside as this could affect people's mood. 
Daytype: Dry or Wet days
Timing: Morning or Evening
Weather :Rainy or Sunny

In [1]:
# This code imports python libraries.

# import numpy for use of arrays\n",
import numpy as np
# import pandas to use DataFrames
import pandas as pd
# import seaborn for ploting
import seaborn as sns
# import matplotlib pyplot for ploting
import matplotlib.pyplot as plt

In [2]:
# Code to creates data points for each season in the year

# Assuming that number of data points for each season is 90 [Approx 90 days for 3 months]
dp_season = 90

# Create list with same amount of data points for each season. Code adpted from
# https://stackoverflow.com/questions/3459098/create-list-of-single-item-repeated-n-times/3459140#3459140
ds_seasons = ["winter"]*dp_season + ["spring"]*dp_season + ["summer"]*dp_season + ["autumn"]*dp_season

# Create dataframe 'df_Walking_Club' for storing dataset. 
df_Walking_Club = pd.DataFrame(ds_seasons, columns =['ds_seasons'])

# Print Title
print('\nFirst 5 lines of dataset "Walking_Club"')
# Display first 5 lines of dataframe df_Walking_Club
df_Walking_Club.head()

First 5 lines of dataset "Walking_Club"

  ds_seasons
0     winter
1     winter
2     winter
3     winter
4     winter

In [3]:
ls_weather = ['dry', 'rain', 'wet']

# Print Title
print('\nList of possible weather types')
# Display list of rainy weather types
ls_weather

List of possible weather types

['dry', 'rain', 'wet']

In [4]:
# Creates dataframe matrix of average monthly weather data

# Average weather data for Monaghan, Ireland. 
# Rainfall and weather data for Monaghan adapted from
# https://data.gov.ie/dataset/monaghan-knockroe-rainfall-data &
# https://en.climate-data.org/europe/ireland/monaghan/monaghan-11695/

rain_days_month = [26, 17, 20, 21, 13, 9, 11, 24, 17, 17, 21, 20]
wet_days_month = [22, 14, 13, 14, 10, 6, 7, 18, 12, 9, 17, 17]
days_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
mm_rain_month = [201.4, 80.5, 62.6, 61.7, 46, 80.6, 49.1, 92.6, 44.8, 30.7, 124.8, 103]
min_temp = [1.2, 1.2, 2.3, 3.6, 6.2, 8.9, 10.6, 10.2, 8.7, 6.6, 3.1, 2.1]
max_temp = [6.6, 7 ,9.1, 11.6, 14.5, 17.3, 18.5, 18.2, 16.1, 13, 9, 7.4]

# Create dataframe with rain data. Code adapted from
# https://www.geeksforgeeks.org/create-a-pandas-dataframe-from-lists/
df_Average_monthly_weather = pd.DataFrame(list(zip(rain_days_month, wet_days_month, days_month, mm_rain_month, min_temp, max_temp)), 
                    index =['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
                           'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                   columns=['rain_days_month', 'wet_days_month', 'days_month', 'mm_rain_month', 'min_temp', 'max_temp'])

# Calculate proportion of rain fall and wet days in a month
df_Average_monthly_weather['rain_month_proportion'] = df_Average_monthly_weather.apply(lambda row: np.round(row.rain_days_month/row.days_month,3), axis=1)
df_Average_monthly_weather['wet_month_proportion'] = df_Average_monthly_weather.apply(lambda row: np.round(row.wet_days_month/row.days_month,3), axis=1)

# Print data from dataframe
print('\nMonthly average weather data for Monaghan Town')
df_Average_monthly_weather

Monthly average weather data for Monaghan Town

,rain_days_month,wet_days_month,days_month,mm_rain_month,min_temp,max_temp,rain_month_proportion,wet_month_proportion
Jan,26,22,31,201.4,1.2,6.6,0.839,0.710
Feb,17,14,28,80.5,1.2,7.0,0.607,0.500
Mar,20,13,31,62.6,2.3,9.1,0.645,0.419
Apr,21,14,30,61.7,3.6,11.6,0.700,0.467
May,13,10,31,46.0,6.2,14.5,0.419,0.323
Jun,9,6,30,80.6,8.9,17.3,0.300,0.200
Jul,11,7,31,49.1,10.6,18.5,0.355,0.226
Aug,24,18,31,92.6,10.2,18.2,0.774,0.581
Sep,17,12,30,44.8,8.7,16.1,0.567,0.400
Oct,17,9,31,30.7,6.6,13.0,0.548,0.290
Nov,21,17,30,124.8,3.1,9.0,0.700,0.567
Dec,20,17,31,103.0,2.1,7.4,0.645,0.548

In [5]:
# Find weather types using the list values for weather 
# for each data point in dataframe 'df_Walking_Club'

# Set list of months in each season
winter = ['Nov', 'Dec', 'Jan']
spring = ['Feb', 'Mar', 'Apr']
summer = ['May', 'Jun', 'Jul']
autumn = ['Aug', 'Sep', 'Oct']

# Function to predict month from a list of months in a given season
def Find_Month(a):
    # Documentation string
    """Returns a random choice of month within a given season"""
    
    # Check for winter season
    if a == 'winter':
        # Set season to winter list
        season = winter
    
    # Check for spring season    
    elif a == 'spring':
        # Set season to spring list
        season = spring
    
    # Check for summer season
    elif a == 'summer':
        # Set season to summer list
        season = summer
    
    # Otherwise season is autumn
    else:
        # Set season to autumn list
        season = autumn          
    
    # Return a month choosen randomly with uniform distribution within a given season list
    return np.random.choice(a=season)

# Apply the function 'Find_Month' to each row in dataframe 'df_Walking_Club'
df_Walking_Club["month"] = df_Walking_Club.apply(lambda row: Find_Month(row.ds_seasons), axis=1)


# Function to predict weather based on month
def weather_type(Month):
    # Documentation string
    """Returns a choice of either 'dry' or 'wet' based on 
            mean number of day with rain in a given month"""
    
    # Select proportion of days with rain in a given month in
    # DataFrame 'df_Walking_Club' based on column and row index. Code adapted from 
    # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html
    weather = df_Average_monthly_weather.rain_month_proportion.loc[str(Month)]
    
    # Return a weather type based on amount of rain in month
    return np.random.choice(a=['dry',  'rain'], p=[(1-weather), weather])

# Apply the function 'df_Walking_Club' to each row in dataframe 'park'
df_Walking_Club["weather"] = df_Walking_Club.apply(lambda row: weather_type(row.month), axis=1)


# Function to predict weather based on month
def day_type(Month):
    # Documentation string
    """Returns a choice of either 'dry' or 'rain' based on 
            mean number of day with rain in a given month"""
    
    # Select proportion of days with rain in a given month in
    # DataFrame 'df_Walking_Club' based on column and row index. Code adapted from 
    # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html
    Day = df_Average_monthly_weather.wet_month_proportion.loc[str(Month)]
    
    # Return a weather type based on amount of rain in month
    return np.random.choice(a=['dry',  'wet'], p=[(1-Day), Day])

# Apply the function 'df_Walking_Club' to each row in dataframe 'park'
df_Walking_Club["Day"] = df_Walking_Club.apply(lambda row: day_type(row.month), axis=1)



# Print Title
print('\nFirst 5 lines of dataset "df_Walking_Club"')
# Display first 5 lines of dataframe 'df_Walking_Club'
df_Walking_Club.head()

First 5 lines of dataset "df_Walking_Club"

  ds_seasons month weather  Day
0     winter   Jan     dry  wet
1     winter   Jan    rain  wet
2     winter   Nov     dry  wet
3     winter   Dec    rain  dry
4     winter   Dec     dry  dry

In [6]:
# Print Title
print('\nDaily summary of weather and months in dataset "df_Walking_Club"')
# Display daily summary of weather and months
# Code adapted from https://dfrieds.com/data-analysis/crosstabs-python-pandas
pd.crosstab(index=df_Walking_Club['Day'], columns=df_Walking_Club['month'], margins=True)

Daily summary of weather and months in dataset "df_Walking_Club"

month  Apr  Aug  Dec  Feb  Jan  Jul  Jun  Mar  May  Nov  Oct  Sep  All
Day
dry     19   13   14   16   14   21   29   15   16   15   27   15  214
wet     19   21   11   10   14    8    6   11   10   22    9    5  146
All     38   34   25   26   28   29   35   26   26   37   36   20  360

In [7]:
# Print Title
print('\nDaily summary of weather and months in dataset "df_Walking_Club"')
# Display daily summary of weather and months
# Code adapted from https://dfrieds.com/data-analysis/crosstabs-python-pandas
pd.crosstab(index=df_Walking_Club['weather'], columns=df_Walking_Club['month'], margins=True)

Daily summary of weather and months in dataset "df_Walking_Club"

month    Apr  Aug  Dec  Feb  Jan  Jul  Jun  Mar  May  Nov  Oct  Sep  All
weather
dry       19    9    9    9    5   18   23    9   16    8   19    7  151
rain      19   25   16   17   23   11   12   17   10   29   17   13  209
All       38   34   25   26   28   29   35   26   26   37   36   20  360

In [8]:
# Display df_Walking_Club 
# Code adapted from https://stackoverflow.com/a/39923958
print(df_Walking_Club.to_string())

    ds_seasons month weather  Day
0       winter   Jan     dry  wet
1       winter   Jan    rain  wet
2       winter   Nov     dry  wet
3       winter   Dec    rain  dry
4       winter   Dec     dry  dry
5       winter   Dec    rain  wet
6       winter   Nov    rain  wet
7       winter   Jan    rain  dry
8       winter   Nov    rain  dry
9       winter   Dec     dry  dry
10      winter   Nov    rain  wet
11      winter   Jan    rain  wet
12      winter   Jan    rain  dry
13      winter   Nov    rain  wet
14      winter   Dec    rain  dry
15      winter   Nov    rain  dry
16      winter   Nov    rain  wet
17      winter   Nov     dry  wet
18      winter   Nov    rain  dry
19      winter   Nov    rain  wet
20      winter   Nov     dry  wet
21      winter   Dec     dry  wet
22      winter   Jan    rain  wet
23      winter   Dec    rain  dry
24      winter   Jan    rain  dry
25      winter   Nov    rain  wet
26      winter   Nov    rain  dry
27      winter   Jan    rain  dry
28      winter   Jan     dry  dry
29      winter   Jan    rain  dry
30      winter   Nov    rain  wet
31      winter   Jan    rain  wet
32      winter   Jan    rain  wet
33      winter   Jan    rain  wet
34      winter   Jan    rain  wet
35      winter   Jan    rain  wet
36      winter   Nov     dry  wet
37      winter   Nov    rain  dry
38      winter   Dec    rain  wet
39      winter   Jan    rain  dry
40      winter   Dec    rain  wet
41      winter   Jan    rain  wet
42      winter   Nov    rain  wet
43      winter   Dec     dry  dry
44      winter   Dec    rain  wet
45      winter   Nov    rain  wet
46      winter   Jan    rain  dry
47      winter   Jan    rain  dry
48      winter   Nov    rain  wet
49      winter   Jan    rain  dry
50      winter   Jan    rain  dry
51      winter   Nov    rain  dry
52      winter   Dec    rain  dry
53      winter   Jan    rain  dry
54      winter   Nov    rain  wet
55      winter   Nov    rain  dry
56      winter   Dec    rain  dry
57      winter   Nov    rain  dry
58      winter   Nov     dry  dry
59      winter   Dec    rain  dry
60      winter   Jan     dry  wet
61      winter   Jan    rain  dry
62      winter   Nov    rain  dry
63      winter   Dec    rain  wet
64      winter   Dec    rain  wet
65      winter   Nov    rain  dry
66      winter   Nov     dry  wet
67      winter   Nov    rain  wet
68      winter   Nov    rain  dry
69      winter   Jan     dry  wet
70      winter   Jan    rain  dry
71      winter   Nov    rain  dry
72      winter   Dec     dry  dry
73      winter   Dec    rain  dry
74      winter   Nov     dry  wet
75      winter   Dec    rain  wet
76      winter   Nov    rain  wet
77      winter   Jan    rain  wet
78      winter   Nov    rain  dry
79      winter   Dec     dry  wet
80      winter   Jan     dry  wet
81      winter   Dec     dry  wet
82      winter   Nov    rain  dry
83      winter   Dec    rain  dry
84      winter   Nov    rain  wet
85      winter   Nov    rain  wet
86      winter   Dec     dry  wet
87      winter   Dec    rain  dry
88      winter   Nov     dry  wet
89      winter   Dec     dry  dry
90      spring   Mar     dry  dry
91      spring   Mar     dry  dry
92      spring   Mar    rain  dry
93      spring   Feb    rain  wet
94      spring   Mar     dry  dry
95      spring   Mar    rain  wet
96      spring   Apr     dry  dry
97      spring   Apr    rain  wet
98      spring   Mar     dry  dry
99      spring   Mar    rain  dry
100     spring   Mar     dry  dry
101     spring   Feb     dry  wet
102     spring   Apr     dry  wet
103     spring   Apr    rain  dry
104     spring   Mar     dry  wet
105     spring   Apr     dry  dry
106     spring   Apr    rain  dry
107     spring   Apr    rain  wet
108     spring   Apr     dry  wet
109     spring   Mar    rain  wet
110     spring   Feb    rain  dry
111     spring   Apr    rain  wet
112     spring   Feb    rain  wet
113     spring   Apr    rain  dry
114     spring   Apr     dry  wet
115     spring   Feb     dry  dry
116     spring   Apr    rain  dry
117     spring   Feb     dry  dry
118     spring   Apr     dry  dry
119     spring   Apr    rain  wet
120     spring   Apr    rain  dry
121     spring   Mar    rain  dry
122     spring   Apr     dry  wet
123     spring   Mar    rain  dry
124     spring   Apr     dry  dry
125     spring   Apr    rain  wet
126     spring   Apr     dry  dry
127     spring   Feb     dry  dry
128     spring   Apr    rain  wet
129     spring   Feb     dry  dry
130     spring   Apr     dry  dry
131     spring   Feb    rain  dry
132     spring   Mar     dry  dry
133     spring   Feb    rain  dry
134     spring   Mar    rain  wet
135     spring   Apr     dry  dry
136     spring   Feb    rain  wet
137     spring   Apr     dry  dry
138     spring   Feb    rain  wet
139     spring   Apr    rain  wet
140     spring   Apr     dry  dry
141     spring   Apr     dry  wet
142     spring   Feb    rain  dry
143     spring   Feb    rain  dry
144     spring   Feb     dry  dry
145     spring   Mar    rain  dry
146     spring   Apr    rain  wet
147     spring   Feb     dry  wet
148     spring   Apr    rain  dry
149     spring   Apr     dry  dry
150     spring   Apr    rain  wet
151     spring   Feb     dry  dry
152     spring   Apr    rain  wet
153     spring   Mar    rain  wet
154     spring   Mar     dry  dry
155     spring   Mar    rain  wet
156     spring   Mar    rain  wet
157     spring   Feb     dry  wet
158     spring   Feb    rain  wet
159     spring   Feb    rain  wet
160     spring   Apr     dry  dry
161     spring   Feb    rain  dry
162     spring   Apr    rain  wet
163     spring   Mar    rain  wet
164     spring   Mar     dry  wet
165     spring   Feb    rain  dry
166     spring   Apr     dry  wet
167     spring   Apr     dry  dry
168     spring   Feb    rain  dry
169     spring   Mar    rain  dry
170     spring   Mar    rain  dry
171     spring   Apr     dry  wet
172     spring   Mar    rain  wet
173     spring   Apr    rain  wet
174     spring   Feb    rain  wet
175     spring   Mar    rain  wet
176     spring   Feb    rain  dry
177     spring   Mar    rain  dry
178     spring   Apr    rain  dry
179     spring   Feb    rain  dry
180     summer   Jun     dry  dry
181     summer   Jul     dry  dry
182     summer   May     dry  dry
183     summer   Jul    rain  wet
184     summer   Jun     dry  dry
185     summer   Jun     dry  wet
186     summer   Jul     dry  wet
187     summer   Jun    rain  dry
188     summer   Jun     dry  dry
189     summer   Jul    rain  dry
190     summer   Jun    rain  dry
191     summer   Jun    rain  dry
192     summer   Jul    rain  dry
193     summer   May     dry  dry
194     summer   Jun     dry  dry
195     summer   May     dry  dry
196     summer   Jul    rain  wet
197     summer   May     dry  dry
198     summer   Jul    rain  dry
199     summer   May     dry  dry
200     summer   May     dry  dry
201     summer   Jun    rain  dry
202     summer   Jul     dry  wet
203     summer   Jun     dry  dry
204     summer   Jul     dry  dry
205     summer   Jul     dry  dry
206     summer   May    rain  dry
207     summer   May     dry  wet
208     summer   Jun     dry  wet
209     summer   Jun    rain  dry
210     summer   May    rain  wet
211     summer   Jun     dry  dry
212     summer   Jul     dry  dry
213     summer   Jun     dry  dry
214     summer   May    rain  dry
215     summer   Jun     dry  dry
216     summer   Jun     dry  dry
217     summer   Jul     dry  dry
218     summer   May     dry  wet
219     summer   May     dry  wet
220     summer   Jul     dry  dry
221     summer   May     dry  wet
222     summer   Jun     dry  dry
223     summer   Jul     dry  dry
224     summer   Jun    rain  dry
225     summer   May    rain  dry
226     summer   May    rain  dry
227     summer   May    rain  wet
228     summer   Jun    rain  dry
229     summer   Jul    rain  wet
230     summer   Jul     dry  dry
231     summer   Jun     dry  dry
232     summer   Jun     dry  dry
233     summer   Jun     dry  dry
234     summer   Jun    rain  dry
235     summer   Jul     dry  dry
236     summer   May     dry  wet
237     summer   May     dry  dry
238     summer   Jun     dry  dry
239     summer   Jul     dry  dry
240     summer   Jun    rain  wet
241     summer   Jun     dry  wet
242     summer   Jul    rain  wet
243     summer   Jul    rain  dry
244     summer   Jun     dry  wet
245     summer   Jul     dry  dry
246     summer   Jun    rain  dry
247     summer   Jun     dry  dry
248     summer   Jul    rain  dry
249     summer   May     dry  dry
250     summer   May    rain  wet
251     summer   Jul     dry  dry
252     summer   Jun     dry  dry
253     summer   May     dry  wet
254     summer   Jun    rain  dry
255     summer   Jul     dry  dry
256     summer   Jun     dry  dry
257     summer   Jul     dry  wet
258     summer   May    rain  dry
259     summer   Jul     dry  wet
260     summer   May     dry  dry
261     summer   Jul    rain  dry
262     summer   May     dry  wet
263     summer   Jun     dry  dry
264     summer   Jun     dry  wet
265     summer   Jul     dry  dry
266     summer   May    rain  dry
267     summer   Jul    rain  dry
268     summer   May    rain  dry
269     summer   Jun    rain  dry
270     autumn   Aug    rain  dry
271     autumn   Aug    rain  wet
272     autumn   Sep     dry  dry
273     autumn   Sep     dry  wet
274     autumn   Sep     dry  dry
275     autumn   Aug    rain  dry
276     autumn   Sep    rain  dry
277     autumn   Sep    rain  dry
278     autumn   Oct     dry  wet
279     autumn   Aug    rain  dry
280     autumn   Oct     dry  dry
281     autumn   Sep     dry  dry
282     autumn   Aug     dry  dry
283     autumn   Oct    rain  dry
284     autumn   Sep    rain  dry
285     autumn   Aug    rain  dry
286     autumn   Oct     dry  dry
287     autumn   Oct    rain  dry
288     autumn   Oct     dry  wet
289     autumn   Oct    rain  dry
290     autumn   Oct     dry  dry
291     autumn   Sep    rain  dry
292     autumn   Sep     dry  dry
293     autumn   Oct     dry  dry
294     autumn   Oct     dry  dry
295     autumn   Sep    rain  dry
296     autumn   Oct    rain  dry
297     autumn   Aug    rain  wet
298     autumn   Aug     dry  wet
299     autumn   Oct    rain  dry
300     autumn   Sep    rain  wet
301     autumn   Sep     dry  wet
302     autumn   Oct    rain  wet
303     autumn   Sep    rain  dry
304     autumn   Oct     dry  dry
305     autumn   Oct     dry  dry
306     autumn   Oct     dry  wet
307     autumn   Oct    rain  dry
308     autumn   Aug    rain  dry
309     autumn   Aug    rain  wet
310     autumn   Aug    rain  wet
311     autumn   Aug     dry  wet
312     autumn   Aug    rain  wet
313     autumn   Oct     dry  dry
314     autumn   Sep     dry  dry
315     autumn   Aug    rain  dry
316     autumn   Oct     dry  dry
317     autumn   Sep    rain  wet
318     autumn   Aug    rain  wet
319     autumn   Sep    rain  dry
320     autumn   Oct    rain  dry
321     autumn   Sep    rain  dry
322     autumn   Oct    rain  wet
323     autumn   Oct     dry  dry
324     autumn   Aug    rain  dry
325     autumn   Aug    rain  dry
326     autumn   Sep    rain  dry
327     autumn   Oct    rain  dry
328     autumn   Aug    rain  dry
329     autumn   Aug    rain  wet
330     autumn   Sep    rain  dry
331     autumn   Aug     dry  wet
332     autumn   Aug    rain  wet
333     autumn   Oct    rain  dry
334     autumn   Aug    rain  dry
335     autumn   Aug    rain  wet
336     autumn   Aug    rain  wet
337     autumn   Oct     dry  dry
338     autumn   Aug     dry  wet
339     autumn   Aug    rain  wet
340     autumn   Aug    rain  wet
341     autumn   Aug    rain  wet
342     autumn   Oct    rain  dry
343     autumn   Sep    rain  wet
344     autumn   Aug    rain  dry
345     autumn   Aug     dry  wet
346     autumn   Aug     dry  wet
347     autumn   Oct     dry  wet
348     autumn   Oct     dry  dry
349     autumn   Oct    rain  dry
350     autumn   Oct    rain  dry
351     autumn   Aug    rain  wet
352     autumn   Aug     dry  wet
353     autumn   Oct    rain  dry
354     autumn   Oct     dry  wet
355     autumn   Oct     dry  wet
356     autumn   Oct    rain  dry
357     autumn   Aug     dry  dry
358     autumn   Oct    rain  dry
359     autumn   Oct     dry  wet

In [9]:
print(df_Walking_Club.to_string())

    ds_seasons month weather  Day
0       winter   Jan     dry  wet
1       winter   Jan    rain  wet
2       winter   Nov     dry  wet
3       winter   Dec    rain  dry
4       winter   Dec     dry  dry
5       winter   Dec    rain  wet
6       winter   Nov    rain  wet
7       winter   Jan    rain  dry
8       winter   Nov    rain  dry
9       winter   Dec     dry  dry
10      winter   Nov    rain  wet
11      winter   Jan    rain  wet
12      winter   Jan    rain  dry
13      winter   Nov    rain  wet
14      winter   Dec    rain  dry
15      winter   Nov    rain  dry
16      winter   Nov    rain  wet
17      winter   Nov     dry  wet
18      winter   Nov    rain  dry
19      winter   Nov    rain  wet
20      winter   Nov     dry  wet
21      winter   Dec     dry  wet
22      winter   Jan    rain  wet
23      winter   Dec    rain  dry
24      winter   Jan    rain  dry
25      winter   Nov    rain  wet
26      winter   Nov    rain  dry
27      winter   Jan    rain  dry
28      winter   Jan     dry  dry
29      winter   Jan    rain  dry
30      winter   Nov    rain  wet
31      winter   Jan    rain  wet
32      winter   Jan    rain  wet
33      winter   Jan    rain  wet
34      winter   Jan    rain  wet
35      winter   Jan    rain  wet
36      winter   Nov     dry  wet
37      winter   Nov    rain  dry
38      winter   Dec    rain  wet
39      winter   Jan    rain  dry
40      winter   Dec    rain  wet
41      winter   Jan    rain  wet
42      winter   Nov    rain  wet
43      winter   Dec     dry  dry
44      winter   Dec    rain  wet
45      winter   Nov    rain  wet
46      winter   Jan    rain  dry
47      winter   Jan    rain  dry
48      winter   Nov    rain  wet
49      winter   Jan    rain  dry
50      winter   Jan    rain  dry
51      winter   Nov    rain  dry
52      winter   Dec    rain  dry
53      winter   Jan    rain  dry
54      winter   Nov    rain  wet
55      winter   Nov    rain  dry
56      winter   Dec    rain  dry
57      winter   Nov    rain  dry
58      winter   Nov     dry  dry
59      winter   Dec    rain  dry
60      winter   Jan     dry  wet
61      winter   Jan    rain  dry
62      winter   Nov    rain  dry
63      winter   Dec    rain  wet
64      winter   Dec    rain  wet
65      winter   Nov    rain  dry
66      winter   Nov     dry  wet
67      winter   Nov    rain  wet
68      winter   Nov    rain  dry
69      winter   Jan     dry  wet
70      winter   Jan    rain  dry
71      winter   Nov    rain  dry
72      winter   Dec     dry  dry
73      winter   Dec    rain  dry
74      winter   Nov     dry  wet
75      winter   Dec    rain  wet
76      winter   Nov    rain  wet
77      winter   Jan    rain  wet
78      winter   Nov    rain  dry
79      winter   Dec     dry  wet
80      winter   Jan     dry  wet
81      winter   Dec     dry  wet
82      winter   Nov    rain  dry
83      winter   Dec    rain  dry
84      winter   Nov    rain  wet
85      winter   Nov    rain  wet
86      winter   Dec     dry  wet
87      winter   Dec    rain  dry
88      winter   Nov     dry  wet
89      winter   Dec     dry  dry
90      spring   Mar     dry  dry
91      spring   Mar     dry  dry
92      spring   Mar    rain  dry
93      spring   Feb    rain  wet
94      spring   Mar     dry  dry
95      spring   Mar    rain  wet
96      spring   Apr     dry  dry
97      spring   Apr    rain  wet
98      spring   Mar     dry  dry
99      spring   Mar    rain  dry
100     spring   Mar     dry  dry
101     spring   Feb     dry  wet
102     spring   Apr     dry  wet
103     spring   Apr    rain  dry
104     spring   Mar     dry  wet
105     spring   Apr     dry  dry
106     spring   Apr    rain  dry
107     spring   Apr    rain  wet
108     spring   Apr     dry  wet
109     spring   Mar    rain  wet
110     spring   Feb    rain  dry
111     spring   Apr    rain  wet
112     spring   Feb    rain  wet
113     spring   Apr    rain  dry
114     spring   Apr     dry  wet
115     spring   Feb     dry  dry
116     spring   Apr    rain  dry
117     spring   Feb     dry  dry
118     spring   Apr     dry  dry
119     spring   Apr    rain  wet
120     spring   Apr    rain  dry
121     spring   Mar    rain  dry
122     spring   Apr     dry  wet
123     spring   Mar    rain  dry
124     spring   Apr     dry  dry
125     spring   Apr    rain  wet
126     spring   Apr     dry  dry
127     spring   Feb     dry  dry
128     spring   Apr    rain  wet
129     spring   Feb     dry  dry
130     spring   Apr     dry  dry
131     spring   Feb    rain  dry
132     spring   Mar     dry  dry
133     spring   Feb    rain  dry
134     spring   Mar    rain  wet
135     spring   Apr     dry  dry
136     spring   Feb    rain  wet
137     spring   Apr     dry  dry
138     spring   Feb    rain  wet
139     spring   Apr    rain  wet
140     spring   Apr     dry  dry
141     spring   Apr     dry  wet
142     spring   Feb    rain  dry
143     spring   Feb    rain  dry
144     spring   Feb     dry  dry
145     spring   Mar    rain  dry
146     spring   Apr    rain  wet
147     spring   Feb     dry  wet
148     spring   Apr    rain  dry
149     spring   Apr     dry  dry
150     spring   Apr    rain  wet
151     spring   Feb     dry  dry
152     spring   Apr    rain  wet
153     spring   Mar    rain  wet
154     spring   Mar     dry  dry
155     spring   Mar    rain  wet
156     spring   Mar    rain  wet
157     spring   Feb     dry  wet
158     spring   Feb    rain  wet
159     spring   Feb    rain  wet
160     spring   Apr     dry  dry
161     spring   Feb    rain  dry
162     spring   Apr    rain  wet
163     spring   Mar    rain  wet
164     spring   Mar     dry  wet
165     spring   Feb    rain  dry
166     spring   Apr     dry  wet
167     spring   Apr     dry  dry
168     spring   Feb    rain  dry
169     spring   Mar    rain  dry
170     spring   Mar    rain  dry
171     spring   Apr     dry  wet
172     spring   Mar    rain  wet
173     spring   Apr    rain  wet
174     spring   Feb    rain  wet
175     spring   Mar    rain  wet
176     spring   Feb    rain  dry
177     spring   Mar    rain  dry
178     spring   Apr    rain  dry
179     spring   Feb    rain  dry
180     summer   Jun     dry  dry
181     summer   Jul     dry  dry
182     summer   May     dry  dry
183     summer   Jul    rain  wet
184     summer   Jun     dry  dry
185     summer   Jun     dry  wet
186     summer   Jul     dry  wet
187     summer   Jun    rain  dry
188     summer   Jun     dry  dry
189     summer   Jul    rain  dry
190     summer   Jun    rain  dry
191     summer   Jun    rain  dry
192     summer   Jul    rain  dry
193     summer   May     dry  dry
194     summer   Jun     dry  dry
195     summer   May     dry  dry
196     summer   Jul    rain  wet
197     summer   May     dry  dry
198     summer   Jul    rain  dry
199     summer   May     dry  dry
200     summer   May     dry  dry
201     summer   Jun    rain  dry
202     summer   Jul     dry  wet
203     summer   Jun     dry  dry
204     summer   Jul     dry  dry
205     summer   Jul     dry  dry
206     summer   May    rain  dry
207     summer   May     dry  wet
208     summer   Jun     dry  wet
209     summer   Jun    rain  dry
210     summer   May    rain  wet
211     summer   Jun     dry  dry
212     summer   Jul     dry  dry
213     summer   Jun     dry  dry
214     summer   May    rain  dry
215     summer   Jun     dry  dry
216     summer   Jun     dry  dry
217     summer   Jul     dry  dry
218     summer   May     dry  wet
219     summer   May     dry  wet
220     summer   Jul     dry  dry
221     summer   May     dry  wet
222     summer   Jun     dry  dry
223     summer   Jul     dry  dry
224     summer   Jun    rain  dry
225     summer   May    rain  dry
226     summer   May    rain  dry
227     summer   May    rain  wet
228     summer   Jun    rain  dry
229     summer   Jul    rain  wet
230     summer   Jul     dry  dry
231     summer   Jun     dry  dry
232     summer   Jun     dry  dry
233     summer   Jun     dry  dry
234     summer   Jun    rain  dry
235     summer   Jul     dry  dry
236     summer   May     dry  wet
237     summer   May     dry  dry
238     summer   Jun     dry  dry
239     summer   Jul     dry  dry
240     summer   Jun    rain  wet
241     summer   Jun     dry  wet
242     summer   Jul    rain  wet
243     summer   Jul    rain  dry
244     summer   Jun     dry  wet
245     summer   Jul     dry  dry
246     summer   Jun    rain  dry
247     summer   Jun     dry  dry
248     summer   Jul    rain  dry
249     summer   May     dry  dry
250     summer   May    rain  wet
251     summer   Jul     dry  dry
252     summer   Jun     dry  dry
253     summer   May     dry  wet
254     summer   Jun    rain  dry
255     summer   Jul     dry  dry
256     summer   Jun     dry  dry
257     summer   Jul     dry  wet
258     summer   May    rain  dry
259     summer   Jul     dry  wet
260     summer   May     dry  dry
261     summer   Jul    rain  dry
262     summer   May     dry  wet
263     summer   Jun     dry  dry
264     summer   Jun     dry  wet
265     summer   Jul     dry  dry
266     summer   May    rain  dry
267     summer   Jul    rain  dry
268     summer   May    rain  dry
269     summer   Jun    rain  dry
270     autumn   Aug    rain  dry
271     autumn   Aug    rain  wet
272     autumn   Sep     dry  dry
273     autumn   Sep     dry  wet
274     autumn   Sep     dry  dry
275     autumn   Aug    rain  dry
276     autumn   Sep    rain  dry
277     autumn   Sep    rain  dry
278     autumn   Oct     dry  wet
279     autumn   Aug    rain  dry
280     autumn   Oct     dry  dry
281     autumn   Sep     dry  dry
282     autumn   Aug     dry  dry
283     autumn   Oct    rain  dry
284     autumn   Sep    rain  dry
285     autumn   Aug    rain  dry
286     autumn   Oct     dry  dry
287     autumn   Oct    rain  dry
288     autumn   Oct     dry  wet
289     autumn   Oct    rain  dry
290     autumn   Oct     dry  dry
291     autumn   Sep    rain  dry
292     autumn   Sep     dry  dry
293     autumn   Oct     dry  dry
294     autumn   Oct     dry  dry
295     autumn   Sep    rain  dry
296     autumn   Oct    rain  dry
297     autumn   Aug    rain  wet
298     autumn   Aug     dry  wet
299     autumn   Oct    rain  dry
300     autumn   Sep    rain  wet
301     autumn   Sep     dry  wet
302     autumn   Oct    rain  wet
303     autumn   Sep    rain  dry
304     autumn   Oct     dry  dry
305     autumn   Oct     dry  dry
306     autumn   Oct     dry  wet
307     autumn   Oct    rain  dry
308     autumn   Aug    rain  dry
309     autumn   Aug    rain  wet
310     autumn   Aug    rain  wet
311     autumn   Aug     dry  wet
312     autumn   Aug    rain  wet
313     autumn   Oct     dry  dry
314     autumn   Sep     dry  dry
315     autumn   Aug    rain  dry
316     autumn   Oct     dry  dry
317     autumn   Sep    rain  wet
318     autumn   Aug    rain  wet
319     autumn   Sep    rain  dry
320     autumn   Oct    rain  dry
321     autumn   Sep    rain  dry
322     autumn   Oct    rain  wet
323     autumn   Oct     dry  dry
324     autumn   Aug    rain  dry
325     autumn   Aug    rain  dry
326     autumn   Sep    rain  dry
327     autumn   Oct    rain  dry
328     autumn   Aug    rain  dry
329     autumn   Aug    rain  wet
330     autumn   Sep    rain  dry
331     autumn   Aug     dry  wet
332     autumn   Aug    rain  wet
333     autumn   Oct    rain  dry
334     autumn   Aug    rain  dry
335     autumn   Aug    rain  wet
336     autumn   Aug    rain  wet
337     autumn   Oct     dry  dry
338     autumn   Aug     dry  wet
339     autumn   Aug    rain  wet
340     autumn   Aug    rain  wet
341     autumn   Aug    rain  wet
342     autumn   Oct    rain  dry
343     autumn   Sep    rain  wet
344     autumn   Aug    rain  dry
345     autumn   Aug     dry  wet
346     autumn   Aug     dry  wet
347     autumn   Oct     dry  wet
348     autumn   Oct     dry  dry
349     autumn   Oct    rain  dry
350     autumn   Oct    rain  dry
351     autumn   Aug    rain  wet
352     autumn   Aug     dry  wet
353     autumn   Oct    rain  dry
354     autumn   Oct     dry  wet
355     autumn   Oct     dry  wet
356     autumn   Oct    rain  dry
357     autumn   Aug     dry  dry
358     autumn   Oct    rain  dry
359     autumn   Oct     dry  wet

In [12]:
#df_WalkingClub = df_Walking_Club.append(dict(zip(df_Walking_Club.columns, Age)), ignore_index=True)

In [13]:
#print(df_WalkingClub.to_string())

In [14]:
df_Age =pd.DataFrame(data={'Age': Age})
df_Age.head(5)

   Age
0   48
1   60
2   48
3   62
4   19

In [15]:
df_walking = df_Walking_Club.join(df_Age)

df_walking.head(5)

NameError: name 'df_WalkingClub' is not defined

In [37]:
Town_Population = 60000
no_of_walkers = 0

Age_15_25 = 0.20 * Town_Population
Age_26_40 = 0.20 * Town_Population
Age_41_50 = 0.30 * Town_Population
Age_above_50 = 0.20 * Town_Population


def Find_walkers(season, weather, day):

  # Check for winter season
    if season == 'winter':
        if weather == 'rain' and day == 'wet':
            no_of_walkers = (Age_15_25 * 0.25) + (Age_26_40 * 0.20) + (Age_41_50 * 0.15) + (Age_above_50 * 0.0)
        elif weather == 'rain' and day == 'dry':
            no_of_walkers = (Age_15_25 * 0.35) + (Age_26_40 * 0.25) + (Age_41_50 * 0.20) + (Age_above_50 * 0.3)
        elif weather == 'dry' and day == 'wet':
            no_of_walkers = (Age_15_25 * 0.40) + (Age_26_40 * 0.30) + (Age_41_50 * 0.25) + (Age_above_50 * 0.4)
        elif weather == 'dry' and day == 'dry':
            no_of_walkers = (Age_15_25 * 0.50) + (Age_26_40 * 0.40) + (Age_41_50 * 0.30) + (Age_above_50 * 0.6)  
    # Check for spring season    
    elif season == 'spring':
        if weather == 'rain' and day == 'wet':
            no_of_walkers = (Age_15_25 * 0.40) + (Age_26_40 * 0.50) + (Age_41_50 * 0.40) + (Age_above_50 * 0.5)
        elif weather == 'rain' and day == 'dry':
            no_of_walkers = (Age_15_25 * 0.45) + (Age_26_40 * 0.55) + (Age_41_50 * 0.45) + (Age_above_50 * 0.6)
        elif weather == 'dry' and day == 'wet':
            no_of_walkers = (Age_15_25 * 0.50) + (Age_26_40 * 0.60) + (Age_41_50 * 0.50) + (Age_above_50 * 0.8)
        elif weather == 'dry' and day == 'dry':
            no_of_walkers = (Age_15_25 * 0.60) + (Age_26_40 * 0.65) + (Age_41_50 * 0.60) + (Age_above_50 * 0.10)  
    # Check for summer season
    elif season == 'summer':
        if weather == 'rain' and day == 'wet':
            no_of_walkers = (Age_15_25 * 0.75) + (Age_26_40 * 0.55) + (Age_41_50 * 0.30) + (Age_above_50 * 0.10)
        elif weather == 'rain' and day == 'dry':
            no_of_walkers = (Age_15_25 * 0.80) + (Age_26_40 * 0.60) + (Age_41_50 * 0.35) + (Age_above_50 * 0.15)
        elif weather == 'dry' and day == 'wet':
            no_of_walkers = (Age_15_25 * 0.80) + (Age_26_40 * 0.60) + (Age_41_50 * 0.32) + (Age_above_50 * 0.12)
        elif weather == 'dry' and day == 'dry':
            no_of_walkers = (Age_15_25 * 0.85) + (Age_26_40 * 0.65) + (Age_41_50 * 0.40) + (Age_above_50 * 0.20)  
    # Otherwise season is autumn
    else:
        if weather == 'rain' and day == 'wet':
            no_of_walkers = (Age_15_25 * 0.40) + (Age_26_40 * 0.40) + (Age_41_50 * 0.30) + (Age_above_50 * 0.8)
        elif weather == 'rain' and day == 'dry':
            no_of_walkers = (Age_15_25 * 0.45) + (Age_26_40 * 0.45) + (Age_41_50 * 0.35) + (Age_above_50 * 0.10)
        elif weather == 'dry' and day == 'wet':
            no_of_walkers = (Age_15_25 * 0.55) + (Age_26_40 * 0.50) + (Age_41_50 * 0.35) + (Age_above_50 * 0.8)
        elif weather == 'dry' and day == 'dry':
            no_of_walkers = (Age_15_25 * 0.60) + (Age_26_40 * 0.60) + (Age_41_50 * 0.40) + (Age_above_50 * 0.10)  
    return int(no_of_walkers)

df_Walking_Club["Walkers"] = df_Walking_Club.apply(lambda row: Find_walkers(row.ds_seasons, row.weather, row.Day), axis=1)

# Print Title
print('\nFirst 5 lines of dataset "df_Walking_Club"')
# Display first 5 lines of dataframe 'df_Walking_Club'
print(df_Walking_Club.to_string())

First 5 lines of dataset "df_Walking_Club"
    ds_seasons month weather  Day  Walkers
0       winter   Jan     dry  wet    17700
1       winter   Jan    rain  wet     8100
2       winter   Nov     dry  wet    17700
3       winter   Dec    rain  dry    14400
4       winter   Dec     dry  dry    23400
5       winter   Dec    rain  wet     8100
6       winter   Nov    rain  wet     8100
7       winter   Jan    rain  dry    14400
8       winter   Nov    rain  dry    14400
9       winter   Dec     dry  dry    23400
10      winter   Nov    rain  wet     8100
11      winter   Jan    rain  wet     8100
12      winter   Jan    rain  dry    14400
13      winter   Nov    rain  wet     8100
14      winter   Dec    rain  dry    14400
15      winter   Nov    rain  dry    14400
16      winter   Nov    rain  wet     8100
17      winter   Nov     dry  wet    17700
18      winter   Nov    rain  dry    14400
19      winter   Nov    rain  wet     8100
20      winter   Nov     dry  wet    17700
21      winter   Dec     dry  wet    17700
22      winter   Jan    rain  wet     8100
23      winter   Dec    rain  dry    14400
24      winter   Jan    rain  dry    14400
25      winter   Nov    rain  wet     8100
26      winter   Nov    rain  dry    14400
27      winter   Jan    rain  dry    14400
28      winter   Jan     dry  dry    23400
29      winter   Jan    rain  dry    14400
30      winter   Nov    rain  wet     8100
31      winter   Jan    rain  wet     8100
32      winter   Jan    rain  wet     8100
33      winter   Jan    rain  wet     8100
34      winter   Jan    rain  wet     8100
35      winter   Jan    rain  wet     8100
36      winter   Nov     dry  wet    17700
37      winter   Nov    rain  dry    14400
38      winter   Dec    rain  wet     8100
39      winter   Jan    rain  dry    14400
40      winter   Dec    rain  wet     8100
41      winter   Jan    rain  wet     8100
42      winter   Nov    rain  wet     8100
43      winter   Dec     dry  dry    23400
44      winter   Dec    rain  wet     8100
45      winter   Nov    rain  wet     8100
46      winter   Jan    rain  dry    14400
47      winter   Jan    rain  dry    14400
48      winter   Nov    rain  wet     8100
49      winter   Jan    rain  dry    14400
50      winter   Jan    rain  dry    14400
51      winter   Nov    rain  dry    14400
52      winter   Dec    rain  dry    14400
53      winter   Jan    rain  dry    14400
54      winter   Nov    rain  wet     8100
55      winter   Nov    rain  dry    14400
56      winter   Dec    rain  dry    14400
57      winter   Nov    rain  dry    14400
58      winter   Nov     dry  dry    23400
59      winter   Dec    rain  dry    14400
60      winter   Jan     dry  wet    17700
61      winter   Jan    rain  dry    14400
62      winter   Nov    rain  dry    14400
63      winter   Dec    rain  wet     8100
64      winter   Dec    rain  wet     8100
65      winter   Nov    rain  dry    14400
66      winter   Nov     dry  wet    17700
67      winter   Nov    rain  wet     8100
68      winter   Nov    rain  dry    14400
69      winter   Jan     dry  wet    17700
70      winter   Jan    rain  dry    14400
71      winter   Nov    rain  dry    14400
72      winter   Dec     dry  dry    23400
73      winter   Dec    rain  dry    14400
74      winter   Nov     dry  wet    17700
75      winter   Dec    rain  wet     8100
76      winter   Nov    rain  wet     8100
77      winter   Jan    rain  wet     8100
78      winter   Nov    rain  dry    14400
79      winter   Dec     dry  wet    17700
80      winter   Jan     dry  wet    17700
81      winter   Dec     dry  wet    17700
82      winter   Nov    rain  dry    14400
83      winter   Dec    rain  dry    14400
84      winter   Nov    rain  wet     8100
85      winter   Nov    rain  wet     8100
86      winter   Dec     dry  wet    17700
87      winter   Dec    rain  dry    14400
88      winter   Nov     dry  wet    17700
89      winter   Dec     dry  dry    23400
90      spring   Mar     dry  dry    27000
91      spring   Mar     dry  dry    27000
92      spring   Mar    rain  dry    27300
93      spring   Feb    rain  wet    24000
94      spring   Mar     dry  dry    27000
95      spring   Mar    rain  wet    24000
96      spring   Apr     dry  dry    27000
97      spring   Apr    rain  wet    24000
98      spring   Mar     dry  dry    27000
99      spring   Mar    rain  dry    27300
100     spring   Mar     dry  dry    27000
101     spring   Feb     dry  wet    31800
102     spring   Apr     dry  wet    31800
103     spring   Apr    rain  dry    27300
104     spring   Mar     dry  wet    31800
105     spring   Apr     dry  dry    27000
106     spring   Apr    rain  dry    27300
107     spring   Apr    rain  wet    24000
108     spring   Apr     dry  wet    31800
109     spring   Mar    rain  wet    24000
110     spring   Feb    rain  dry    27300
111     spring   Apr    rain  wet    24000
112     spring   Feb    rain  wet    24000
113     spring   Apr    rain  dry    27300
114     spring   Apr     dry  wet    31800
115     spring   Feb     dry  dry    27000
116     spring   Apr    rain  dry    27300
117     spring   Feb     dry  dry    27000
118     spring   Apr     dry  dry    27000
119     spring   Apr    rain  wet    24000
120     spring   Apr    rain  dry    27300
121     spring   Mar    rain  dry    27300
122     spring   Apr     dry  wet    31800
123     spring   Mar    rain  dry    27300
124     spring   Apr     dry  dry    27000
125     spring   Apr    rain  wet    24000
126     spring   Apr     dry  dry    27000
127     spring   Feb     dry  dry    27000
128     spring   Apr    rain  wet    24000
129     spring   Feb     dry  dry    27000
130     spring   Apr     dry  dry    27000
131     spring   Feb    rain  dry    27300
132     spring   Mar     dry  dry    27000
133     spring   Feb    rain  dry    27300
134     spring   Mar    rain  wet    24000
135     spring   Apr     dry  dry    27000
136     spring   Feb    rain  wet    24000
137     spring   Apr     dry  dry    27000
138     spring   Feb    rain  wet    24000
139     spring   Apr    rain  wet    24000
140     spring   Apr     dry  dry    27000
141     spring   Apr     dry  wet    31800
142     spring   Feb    rain  dry    27300
143     spring   Feb    rain  dry    27300
144     spring   Feb     dry  dry    27000
145     spring   Mar    rain  dry    27300
146     spring   Apr    rain  wet    24000
147     spring   Feb     dry  wet    31800
148     spring   Apr    rain  dry    27300
149     spring   Apr     dry  dry    27000
150     spring   Apr    rain  wet    24000
151     spring   Feb     dry  dry    27000
152     spring   Apr    rain  wet    24000
153     spring   Mar    rain  wet    24000
154     spring   Mar     dry  dry    27000
155     spring   Mar    rain  wet    24000
156     spring   Mar    rain  wet    24000
157     spring   Feb     dry  wet    31800
158     spring   Feb    rain  wet    24000
159     spring   Feb    rain  wet    24000
160     spring   Apr     dry  dry    27000
161     spring   Feb    rain  dry    27300
162     spring   Apr    rain  wet    24000
163     spring   Mar    rain  wet    24000
164     spring   Mar     dry  wet    31800
165     spring   Feb    rain  dry    27300
166     spring   Apr     dry  wet    31800
167     spring   Apr     dry  dry    27000
168     spring   Feb    rain  dry    27300
169     spring   Mar    rain  dry    27300
170     spring   Mar    rain  dry    27300
171     spring   Apr     dry  wet    31800
172     spring   Mar    rain  wet    24000
173     spring   Apr    rain  wet    24000
174     spring   Feb    rain  wet    24000
175     spring   Mar    rain  wet    24000
176     spring   Feb    rain  dry    27300
177     spring   Mar    rain  dry    27300
178     spring   Apr    rain  dry    27300
179     spring   Feb    rain  dry    27300
180     summer   Jun     dry  dry    27600
181     summer   Jul     dry  dry    27600
182     summer   May     dry  dry    27600
183     summer   Jul    rain  wet    22200
184     summer   Jun     dry  dry    27600
185     summer   Jun     dry  wet    24000
186     summer   Jul     dry  wet    24000
187     summer   Jun    rain  dry    24900
188     summer   Jun     dry  dry    27600
189     summer   Jul    rain  dry    24900
190     summer   Jun    rain  dry    24900
191     summer   Jun    rain  dry    24900
192     summer   Jul    rain  dry    24900
193     summer   May     dry  dry    27600
194     summer   Jun     dry  dry    27600
195     summer   May     dry  dry    27600
196     summer   Jul    rain  wet    22200
197     summer   May     dry  dry    27600
198     summer   Jul    rain  dry    24900
199     summer   May     dry  dry    27600
200     summer   May     dry  dry    27600
201     summer   Jun    rain  dry    24900
202     summer   Jul     dry  wet    24000
203     summer   Jun     dry  dry    27600
204     summer   Jul     dry  dry    27600
205     summer   Jul     dry  dry    27600
206     summer   May    rain  dry    24900
207     summer   May     dry  wet    24000
208     summer   Jun     dry  wet    24000
209     summer   Jun    rain  dry    24900
210     summer   May    rain  wet    22200
211     summer   Jun     dry  dry    27600
212     summer   Jul     dry  dry    27600
213     summer   Jun     dry  dry    27600
214     summer   May    rain  dry    24900
215     summer   Jun     dry  dry    27600
216     summer   Jun     dry  dry    27600
217     summer   Jul     dry  dry    27600
218     summer   May     dry  wet    24000
219     summer   May     dry  wet    24000
220     summer   Jul     dry  dry    27600
221     summer   May     dry  wet    24000
222     summer   Jun     dry  dry    27600
223     summer   Jul     dry  dry    27600
224     summer   Jun    rain  dry    24900
225     summer   May    rain  dry    24900
226     summer   May    rain  dry    24900
227     summer   May    rain  wet    22200
228     summer   Jun    rain  dry    24900
229     summer   Jul    rain  wet    22200
230     summer   Jul     dry  dry    27600
231     summer   Jun     dry  dry    27600
232     summer   Jun     dry  dry    27600
233     summer   Jun     dry  dry    27600
234     summer   Jun    rain  dry    24900
235     summer   Jul     dry  dry    27600
236     summer   May     dry  wet    24000
237     summer   May     dry  dry    27600
238     summer   Jun     dry  dry    27600
239     summer   Jul     dry  dry    27600
240     summer   Jun    rain  wet    22200
241     summer   Jun     dry  wet    24000
242     summer   Jul    rain  wet    22200
243     summer   Jul    rain  dry    24900
244     summer   Jun     dry  wet    24000
245     summer   Jul     dry  dry    27600
246     summer   Jun    rain  dry    24900
247     summer   Jun     dry  dry    27600
248     summer   Jul    rain  dry    24900
249     summer   May     dry  dry    27600
250     summer   May    rain  wet    22200
251     summer   Jul     dry  dry    27600
252     summer   Jun     dry  dry    27600
253     summer   May     dry  wet    24000
254     summer   Jun    rain  dry    24900
255     summer   Jul     dry  dry    27600
256     summer   Jun     dry  dry    27600
257     summer   Jul     dry  wet    24000
258     summer   May    rain  dry    24900
259     summer   Jul     dry  wet    24000
260     summer   May     dry  dry    27600
261     summer   Jul    rain  dry    24900
262     summer   May     dry  wet    24000
263     summer   Jun     dry  dry    27600
264     summer   Jun     dry  wet    24000
265     summer   Jul     dry  dry    27600
266     summer   May    rain  dry    24900
267     summer   Jul    rain  dry    24900
268     summer   May    rain  dry    24900
269     summer   Jun    rain  dry    24900
270     autumn   Aug    rain  dry    18300
271     autumn   Aug    rain  wet    24600
272     autumn   Sep     dry  dry    22800
273     autumn   Sep     dry  wet    28500
274     autumn   Sep     dry  dry    22800
275     autumn   Aug    rain  dry    18300
276     autumn   Sep    rain  dry    18300
277     autumn   Sep    rain  dry    18300
278     autumn   Oct     dry  wet    28500
279     autumn   Aug    rain  dry    18300
280     autumn   Oct     dry  dry    22800
281     autumn   Sep     dry  dry    22800
282     autumn   Aug     dry  dry    22800
283     autumn   Oct    rain  dry    18300
284     autumn   Sep    rain  dry    18300
285     autumn   Aug    rain  dry    18300
286     autumn   Oct     dry  dry    22800
287     autumn   Oct    rain  dry    18300
288     autumn   Oct     dry  wet    28500
289     autumn   Oct    rain  dry    18300
290     autumn   Oct     dry  dry    22800
291     autumn   Sep    rain  dry    18300
292     autumn   Sep     dry  dry    22800
293     autumn   Oct     dry  dry    22800
294     autumn   Oct     dry  dry    22800
295     autumn   Sep    rain  dry    18300
296     autumn   Oct    rain  dry    18300
297     autumn   Aug    rain  wet    24600
298     autumn   Aug     dry  wet    28500
299     autumn   Oct    rain  dry    18300
300     autumn   Sep    rain  wet    24600
301     autumn   Sep     dry  wet    28500
302     autumn   Oct    rain  wet    24600
303     autumn   Sep    rain  dry    18300
304     autumn   Oct     dry  dry    22800
305     autumn   Oct     dry  dry    22800
306     autumn   Oct     dry  wet    28500
307     autumn   Oct    rain  dry    18300
308     autumn   Aug    rain  dry    18300
309     autumn   Aug    rain  wet    24600
310     autumn   Aug    rain  wet    24600
311     autumn   Aug     dry  wet    28500
312     autumn   Aug    rain  wet    24600
313     autumn   Oct     dry  dry    22800
314     autumn   Sep     dry  dry    22800
315     autumn   Aug    rain  dry    18300
316     autumn   Oct     dry  dry    22800
317     autumn   Sep    rain  wet    24600
318     autumn   Aug    rain  wet    24600
319     autumn   Sep    rain  dry    18300
320     autumn   Oct    rain  dry    18300
321     autumn   Sep    rain  dry    18300
322     autumn   Oct    rain  wet    24600
323     autumn   Oct     dry  dry    22800
324     autumn   Aug    rain  dry    18300
325     autumn   Aug    rain  dry    18300
326     autumn   Sep    rain  dry    18300
327     autumn   Oct    rain  dry    18300
328     autumn   Aug    rain  dry    18300
329     autumn   Aug    rain  wet    24600
330     autumn   Sep    rain  dry    18300
331     autumn   Aug     dry  wet    28500
332     autumn   Aug    rain  wet    24600
333     autumn   Oct    rain  dry    18300
334     autumn   Aug    rain  dry    18300
335     autumn   Aug    rain  wet    24600
336     autumn   Aug    rain  wet    24600
337     autumn   Oct     dry  dry    22800
338     autumn   Aug     dry  wet    28500
339     autumn   Aug    rain  wet    24600
340     autumn   Aug    rain  wet    24600
341     autumn   Aug    rain  wet    24600
342     autumn   Oct    rain  dry    18300
343     autumn   Sep    rain  wet    24600
344     autumn   Aug    rain  dry    18300
345     autumn   Aug     dry  wet    28500
346     autumn   Aug     dry  wet    28500
347     autumn   Oct     dry  wet    28500
348     autumn   Oct     dry  dry    22800
349     autumn   Oct    rain  dry    18300
350     autumn   Oct    rain  dry    18300
351     autumn   Aug    rain  wet    24600
352     autumn   Aug     dry  wet    28500
353     autumn   Oct    rain  dry    18300
354     autumn   Oct     dry  wet    28500
355     autumn   Oct     dry  wet    28500
356     autumn   Oct    rain  dry    18300
357     autumn   Aug     dry  dry    22800
358     autumn   Oct    rain  dry    18300
359     autumn   Oct     dry  wet    28500

In [38]:
df_Walking_Club['Mood_Status'] = np.where((df_Walking_Club['Walkers'] * 100 / Town_Population) > 40,'Happy','Moderate')
print(df_Walking_Club.to_string())

    ds_seasons month weather  Day  Walkers Mood_Status
0       winter   Jan     dry  wet    17700    Moderate
1       winter   Jan    rain  wet     8100    Moderate
2       winter   Nov     dry  wet    17700    Moderate
3       winter   Dec    rain  dry    14400    Moderate
4       winter   Dec     dry  dry    23400    Moderate
5       winter   Dec    rain  wet     8100    Moderate
6       winter   Nov    rain  wet     8100    Moderate
7       winter   Jan    rain  dry    14400    Moderate
8       winter   Nov    rain  dry    14400    Moderate
9       winter   Dec     dry  dry    23400    Moderate
10      winter   Nov    rain  wet     8100    Moderate
11      winter   Jan    rain  wet     8100    Moderate
12      winter   Jan    rain  dry    14400    Moderate
13      winter   Nov    rain  wet     8100    Moderate
14      winter   Dec    rain  dry    14400    Moderate
15      winter   Nov    rain  dry    14400    Moderate
16      winter   Nov    rain  wet     8100    Moderate
17      winter   Nov     dry  wet    17700    Moderate
18      winter   Nov    rain  dry    14400    Moderate
19      winter   Nov    rain  wet     8100    Moderate
20      winter   Nov     dry  wet    17700    Moderate
21      winter   Dec     dry  wet    17700    Moderate
22      winter   Jan    rain  wet     8100    Moderate
23      winter   Dec    rain  dry    14400    Moderate
24      winter   Jan    rain  dry    14400    Moderate
25      winter   Nov    rain  wet     8100    Moderate
26      winter   Nov    rain  dry    14400    Moderate
27      winter   Jan    rain  dry    14400    Moderate
28      winter   Jan     dry  dry    23400    Moderate
29      winter   Jan    rain  dry    14400    Moderate
30      winter   Nov    rain  wet     8100    Moderate
31      winter   Jan    rain  wet     8100    Moderate
32      winter   Jan    rain  wet     8100    Moderate
33      winter   Jan    rain  wet     8100    Moderate
34      winter   Jan    rain  wet     8100    Moderate
35      winter   Jan    rain  wet     8100    Moderate
36      winter   Nov     dry  wet    17700    Moderate
37      winter   Nov    rain  dry    14400    Moderate
38      winter   Dec    rain  wet     8100    Moderate
39      winter   Jan    rain  dry    14400    Moderate
40      winter   Dec    rain  wet     8100    Moderate
41      winter   Jan    rain  wet     8100    Moderate
42      winter   Nov    rain  wet     8100    Moderate
43      winter   Dec     dry  dry    23400    Moderate
44      winter   Dec    rain  wet     8100    Moderate
45      winter   Nov    rain  wet     8100    Moderate
46      winter   Jan    rain  dry    14400    Moderate
47      winter   Jan    rain  dry    14400    Moderate
48      winter   Nov    rain  wet     8100    Moderate
49      winter   Jan    rain  dry    14400    Moderate
50      winter   Jan    rain  dry    14400    Moderate
51      winter   Nov    rain  dry    14400    Moderate
52      winter   Dec    rain  dry    14400    Moderate
53      winter   Jan    rain  dry    14400    Moderate
54      winter   Nov    rain  wet     8100    Moderate
55      winter   Nov    rain  dry    14400    Moderate
56      winter   Dec    rain  dry    14400    Moderate
57      winter   Nov    rain  dry    14400    Moderate
58      winter   Nov     dry  dry    23400    Moderate
59      winter   Dec    rain  dry    14400    Moderate
60      winter   Jan     dry  wet    17700    Moderate
61      winter   Jan    rain  dry    14400    Moderate
62      winter   Nov    rain  dry    14400    Moderate
63      winter   Dec    rain  wet     8100    Moderate
64      winter   Dec    rain  wet     8100    Moderate
65      winter   Nov    rain  dry    14400    Moderate
66      winter   Nov     dry  wet    17700    Moderate
67      winter   Nov    rain  wet     8100    Moderate
68      winter   Nov    rain  dry    14400    Moderate
69      winter   Jan     dry  wet    17700    Moderate
70      winter   Jan    rain  dry    14400    Moderate
71      winter   Nov    rain  dry    14400    Moderate
72      winter   Dec     dry  dry    23400    Moderate
73      winter   Dec    rain  dry    14400    Moderate
74      winter   Nov     dry  wet    17700    Moderate
75      winter   Dec    rain  wet     8100    Moderate
76      winter   Nov    rain  wet     8100    Moderate
77      winter   Jan    rain  wet     8100    Moderate
78      winter   Nov    rain  dry    14400    Moderate
79      winter   Dec     dry  wet    17700    Moderate
80      winter   Jan     dry  wet    17700    Moderate
81      winter   Dec     dry  wet    17700    Moderate
82      winter   Nov    rain  dry    14400    Moderate
83      winter   Dec    rain  dry    14400    Moderate
84      winter   Nov    rain  wet     8100    Moderate
85      winter   Nov    rain  wet     8100    Moderate
86      winter   Dec     dry  wet    17700    Moderate
87      winter   Dec    rain  dry    14400    Moderate
88      winter   Nov     dry  wet    17700    Moderate
89      winter   Dec     dry  dry    23400    Moderate
90      spring   Mar     dry  dry    27000       Happy
91      spring   Mar     dry  dry    27000       Happy
92      spring   Mar    rain  dry    27300       Happy
93      spring   Feb    rain  wet    24000    Moderate
94      spring   Mar     dry  dry    27000       Happy
95      spring   Mar    rain  wet    24000    Moderate
96      spring   Apr     dry  dry    27000       Happy
97      spring   Apr    rain  wet    24000    Moderate
98      spring   Mar     dry  dry    27000       Happy
99      spring   Mar    rain  dry    27300       Happy
100     spring   Mar     dry  dry    27000       Happy
101     spring   Feb     dry  wet    31800       Happy
102     spring   Apr     dry  wet    31800       Happy
103     spring   Apr    rain  dry    27300       Happy
104     spring   Mar     dry  wet    31800       Happy
105     spring   Apr     dry  dry    27000       Happy
106     spring   Apr    rain  dry    27300       Happy
107     spring   Apr    rain  wet    24000    Moderate
108     spring   Apr     dry  wet    31800       Happy
109     spring   Mar    rain  wet    24000    Moderate
110     spring   Feb    rain  dry    27300       Happy
111     spring   Apr    rain  wet    24000    Moderate
112     spring   Feb    rain  wet    24000    Moderate
113     spring   Apr    rain  dry    27300       Happy
114     spring   Apr     dry  wet    31800       Happy
115     spring   Feb     dry  dry    27000       Happy
116     spring   Apr    rain  dry    27300       Happy
117     spring   Feb     dry  dry    27000       Happy
118     spring   Apr     dry  dry    27000       Happy
119     spring   Apr    rain  wet    24000    Moderate
120     spring   Apr    rain  dry    27300       Happy
121     spring   Mar    rain  dry    27300       Happy
122     spring   Apr     dry  wet    31800       Happy
123     spring   Mar    rain  dry    27300       Happy
124     spring   Apr     dry  dry    27000       Happy
125     spring   Apr    rain  wet    24000    Moderate
126     spring   Apr     dry  dry    27000       Happy
127     spring   Feb     dry  dry    27000       Happy
128     spring   Apr    rain  wet    24000    Moderate
129     spring   Feb     dry  dry    27000       Happy
130     spring   Apr     dry  dry    27000       Happy
131     spring   Feb    rain  dry    27300       Happy
132     spring   Mar     dry  dry    27000       Happy
133     spring   Feb    rain  dry    27300       Happy
134     spring   Mar    rain  wet    24000    Moderate
135     spring   Apr     dry  dry    27000       Happy
136     spring   Feb    rain  wet    24000    Moderate
137     spring   Apr     dry  dry    27000       Happy
138     spring   Feb    rain  wet    24000    Moderate
139     spring   Apr    rain  wet    24000    Moderate
140     spring   Apr     dry  dry    27000       Happy
141     spring   Apr     dry  wet    31800       Happy
142     spring   Feb    rain  dry    27300       Happy
143     spring   Feb    rain  dry    27300       Happy
144     spring   Feb     dry  dry    27000       Happy
145     spring   Mar    rain  dry    27300       Happy
146     spring   Apr    rain  wet    24000    Moderate
147     spring   Feb     dry  wet    31800       Happy
148     spring   Apr    rain  dry    27300       Happy
149     spring   Apr     dry  dry    27000       Happy
150     spring   Apr    rain  wet    24000    Moderate
151     spring   Feb     dry  dry    27000       Happy
152     spring   Apr    rain  wet    24000    Moderate
153     spring   Mar    rain  wet    24000    Moderate
154     spring   Mar     dry  dry    27000       Happy
155     spring   Mar    rain  wet    24000    Moderate
156     spring   Mar    rain  wet    24000    Moderate
157     spring   Feb     dry  wet    31800       Happy
158     spring   Feb    rain  wet    24000    Moderate
159     spring   Feb    rain  wet    24000    Moderate
160     spring   Apr     dry  dry    27000       Happy
161     spring   Feb    rain  dry    27300       Happy
162     spring   Apr    rain  wet    24000    Moderate
163     spring   Mar    rain  wet    24000    Moderate
164     spring   Mar     dry  wet    31800       Happy
165     spring   Feb    rain  dry    27300       Happy
166     spring   Apr     dry  wet    31800       Happy
167     spring   Apr     dry  dry    27000       Happy
168     spring   Feb    rain  dry    27300       Happy
169     spring   Mar    rain  dry    27300       Happy
170     spring   Mar    rain  dry    27300       Happy
171     spring   Apr     dry  wet    31800       Happy
172     spring   Mar    rain  wet    24000    Moderate
173     spring   Apr    rain  wet    24000    Moderate
174     spring   Feb    rain  wet    24000    Moderate
175     spring   Mar    rain  wet    24000    Moderate
176     spring   Feb    rain  dry    27300       Happy
177     spring   Mar    rain  dry    27300       Happy
178     spring   Apr    rain  dry    27300       Happy
179     spring   Feb    rain  dry    27300       Happy
180     summer   Jun     dry  dry    27600       Happy
181     summer   Jul     dry  dry    27600       Happy
182     summer   May     dry  dry    27600       Happy
183     summer   Jul    rain  wet    22200    Moderate
184     summer   Jun     dry  dry    27600       Happy
185     summer   Jun     dry  wet    24000    Moderate
186     summer   Jul     dry  wet    24000    Moderate
187     summer   Jun    rain  dry    24900       Happy
188     summer   Jun     dry  dry    27600       Happy
189     summer   Jul    rain  dry    24900       Happy
190     summer   Jun    rain  dry    24900       Happy
191     summer   Jun    rain  dry    24900       Happy
192     summer   Jul    rain  dry    24900       Happy
193     summer   May     dry  dry    27600       Happy
194     summer   Jun     dry  dry    27600       Happy
195     summer   May     dry  dry    27600       Happy
196     summer   Jul    rain  wet    22200    Moderate
197     summer   May     dry  dry    27600       Happy
198     summer   Jul    rain  dry    24900       Happy
199     summer   May     dry  dry    27600       Happy
200     summer   May     dry  dry    27600       Happy
201     summer   Jun    rain  dry    24900       Happy
202     summer   Jul     dry  wet    24000    Moderate
203     summer   Jun     dry  dry    27600       Happy
204     summer   Jul     dry  dry    27600       Happy
205     summer   Jul     dry  dry    27600       Happy
206     summer   May    rain  dry    24900       Happy
207     summer   May     dry  wet    24000    Moderate
208     summer   Jun     dry  wet    24000    Moderate
209     summer   Jun    rain  dry    24900       Happy
210     summer   May    rain  wet    22200    Moderate
211     summer   Jun     dry  dry    27600       Happy
212     summer   Jul     dry  dry    27600       Happy
213     summer   Jun     dry  dry    27600       Happy
214     summer   May    rain  dry    24900       Happy
215     summer   Jun     dry  dry    27600       Happy
216     summer   Jun     dry  dry    27600       Happy
217     summer   Jul     dry  dry    27600       Happy
218     summer   May     dry  wet    24000    Moderate
219     summer   May     dry  wet    24000    Moderate
220     summer   Jul     dry  dry    27600       Happy
221     summer   May     dry  wet    24000    Moderate
222     summer   Jun     dry  dry    27600       Happy
223     summer   Jul     dry  dry    27600       Happy
224     summer   Jun    rain  dry    24900       Happy
225     summer   May    rain  dry    24900       Happy
226     summer   May    rain  dry    24900       Happy
227     summer   May    rain  wet    22200    Moderate
228     summer   Jun    rain  dry    24900       Happy
229     summer   Jul    rain  wet    22200    Moderate
230     summer   Jul     dry  dry    27600       Happy
231     summer   Jun     dry  dry    27600       Happy
232     summer   Jun     dry  dry    27600       Happy
233     summer   Jun     dry  dry    27600       Happy
234     summer   Jun    rain  dry    24900       Happy
235     summer   Jul     dry  dry    27600       Happy
236     summer   May     dry  wet    24000    Moderate
237     summer   May     dry  dry    27600       Happy
238     summer   Jun     dry  dry    27600       Happy
239     summer   Jul     dry  dry    27600       Happy
240     summer   Jun    rain  wet    22200    Moderate
241     summer   Jun     dry  wet    24000    Moderate
242     summer   Jul    rain  wet    22200    Moderate
243     summer   Jul    rain  dry    24900       Happy
244     summer   Jun     dry  wet    24000    Moderate
245     summer   Jul     dry  dry    27600       Happy
246     summer   Jun    rain  dry    24900       Happy
247     summer   Jun     dry  dry    27600       Happy
248     summer   Jul    rain  dry    24900       Happy
249     summer   May     dry  dry    27600       Happy
250     summer   May    rain  wet    22200    Moderate
251     summer   Jul     dry  dry    27600       Happy
252     summer   Jun     dry  dry    27600       Happy
253     summer   May     dry  wet    24000    Moderate
254     summer   Jun    rain  dry    24900       Happy
255     summer   Jul     dry  dry    27600       Happy
256     summer   Jun     dry  dry    27600       Happy
257     summer   Jul     dry  wet    24000    Moderate
258     summer   May    rain  dry    24900       Happy
259     summer   Jul     dry  wet    24000    Moderate
260     summer   May     dry  dry    27600       Happy
261     summer   Jul    rain  dry    24900       Happy
262     summer   May     dry  wet    24000    Moderate
263     summer   Jun     dry  dry    27600       Happy
264     summer   Jun     dry  wet    24000    Moderate
265     summer   Jul     dry  dry    27600       Happy
266     summer   May    rain  dry    24900       Happy
267     summer   Jul    rain  dry    24900       Happy
268     summer   May    rain  dry    24900       Happy
269     summer   Jun    rain  dry    24900       Happy
270     autumn   Aug    rain  dry    18300    Moderate
271     autumn   Aug    rain  wet    24600       Happy
272     autumn   Sep     dry  dry    22800    Moderate
273     autumn   Sep     dry  wet    28500       Happy
274     autumn   Sep     dry  dry    22800    Moderate
275     autumn   Aug    rain  dry    18300    Moderate
276     autumn   Sep    rain  dry    18300    Moderate
277     autumn   Sep    rain  dry    18300    Moderate
278     autumn   Oct     dry  wet    28500       Happy
279     autumn   Aug    rain  dry    18300    Moderate
280     autumn   Oct     dry  dry    22800    Moderate
281     autumn   Sep     dry  dry    22800    Moderate
282     autumn   Aug     dry  dry    22800    Moderate
283     autumn   Oct    rain  dry    18300    Moderate
284     autumn   Sep    rain  dry    18300    Moderate
285     autumn   Aug    rain  dry    18300    Moderate
286     autumn   Oct     dry  dry    22800    Moderate
287     autumn   Oct    rain  dry    18300    Moderate
288     autumn   Oct     dry  wet    28500       Happy
289     autumn   Oct    rain  dry    18300    Moderate
290     autumn   Oct     dry  dry    22800    Moderate
291     autumn   Sep    rain  dry    18300    Moderate
292     autumn   Sep     dry  dry    22800    Moderate
293     autumn   Oct     dry  dry    22800    Moderate
294     autumn   Oct     dry  dry    22800    Moderate
295     autumn   Sep    rain  dry    18300    Moderate
296     autumn   Oct    rain  dry    18300    Moderate
297     autumn   Aug    rain  wet    24600       Happy
298     autumn   Aug     dry  wet    28500       Happy
299     autumn   Oct    rain  dry    18300    Moderate
300     autumn   Sep    rain  wet    24600       Happy
301     autumn   Sep     dry  wet    28500       Happy
302     autumn   Oct    rain  wet    24600       Happy
303     autumn   Sep    rain  dry    18300    Moderate
304     autumn   Oct     dry  dry    22800    Moderate
305     autumn   Oct     dry  dry    22800    Moderate
306     autumn   Oct     dry  wet    28500       Happy
307     autumn   Oct    rain  dry    18300    Moderate
308     autumn   Aug    rain  dry    18300    Moderate
309     autumn   Aug    rain  wet    24600       Happy
310     autumn   Aug    rain  wet    24600       Happy
311     autumn   Aug     dry  wet    28500       Happy
312     autumn   Aug    rain  wet    24600       Happy
313     autumn   Oct     dry  dry    22800    Moderate
314     autumn   Sep     dry  dry    22800    Moderate
315     autumn   Aug    rain  dry    18300    Moderate
316     autumn   Oct     dry  dry    22800    Moderate
317     autumn   Sep    rain  wet    24600       Happy
318     autumn   Aug    rain  wet    24600       Happy
319     autumn   Sep    rain  dry    18300    Moderate
320     autumn   Oct    rain  dry    18300    Moderate
321     autumn   Sep    rain  dry    18300    Moderate
322     autumn   Oct    rain  wet    24600       Happy
323     autumn   Oct     dry  dry    22800    Moderate
324     autumn   Aug    rain  dry    18300    Moderate
325     autumn   Aug    rain  dry    18300    Moderate
326     autumn   Sep    rain  dry    18300    Moderate
327     autumn   Oct    rain  dry    18300    Moderate
328     autumn   Aug    rain  dry    18300    Moderate
329     autumn   Aug    rain  wet    24600       Happy
330     autumn   Sep    rain  dry    18300    Moderate
331     autumn   Aug     dry  wet    28500       Happy
332     autumn   Aug    rain  wet    24600       Happy
333     autumn   Oct    rain  dry    18300    Moderate
334     autumn   Aug    rain  dry    18300    Moderate
335     autumn   Aug    rain  wet    24600       Happy
336     autumn   Aug    rain  wet    24600       Happy
337     autumn   Oct     dry  dry    22800    Moderate
338     autumn   Aug     dry  wet    28500       Happy
339     autumn   Aug    rain  wet    24600       Happy
340     autumn   Aug    rain  wet    24600       Happy
341     autumn   Aug    rain  wet    24600       Happy
342     autumn   Oct    rain  dry    18300    Moderate
343     autumn   Sep    rain  wet    24600       Happy
344     autumn   Aug    rain  dry    18300    Moderate
345     autumn   Aug     dry  wet    28500       Happy
346     autumn   Aug     dry  wet    28500       Happy
347     autumn   Oct     dry  wet    28500       Happy
348     autumn   Oct     dry  dry    22800    Moderate
349     autumn   Oct    rain  dry    18300    Moderate
350     autumn   Oct    rain  dry    18300    Moderate
351     autumn   Aug    rain  wet    24600       Happy
352     autumn   Aug     dry  wet    28500       Happy
353     autumn   Oct    rain  dry    18300    Moderate
354     autumn   Oct     dry  wet    28500       Happy
355     autumn   Oct     dry  wet    28500       Happy
356     autumn   Oct    rain  dry    18300    Moderate
357     autumn   Aug     dry  dry    22800    Moderate
358     autumn   Oct    rain  dry    18300    Moderate
359     autumn   Oct     dry  wet    28500       Happy

In [39]:
df_Walking_Club.drop('ds_seasons', axis=1, inplace=True)
df_Walking_Club.head()

  month weather  Day  Walkers Mood_Status
0   Jan     dry  wet    17700    Moderate
1   Jan    rain  wet     8100    Moderate
2   Nov     dry  wet    17700    Moderate
3   Dec    rain  dry    14400    Moderate
4   Dec     dry  dry    23400    Moderate